<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Micro Learning</title>
</head>
<body>
    <div class="container">
        <h1 class="h1muha">Micro Learning Django Project</h1>
        <ul>
            <li><a href="{% url 'index' %}">Home page</a></li>
            <li><a href="{% url 'courses' %}">Courses</a></li>
            <li><a href="">Login</a></li>
        </ul>
        {% block content%}{% endblock %}
    </div>
</body>
</html>